<div id="footer">
  <div class="container-fluid" style="margin:0 auto; clear:both;">
      <div class="row" style="height:64px;">
          <div class="col-md-2">
              <p>
                  <br>
                  <span class="badge-red">AMBIENTE DE {{nomeAmbiente}}</span>&nbsp; Modo:&nbsp;<strong id="modoDeUso">{{opcaoDeUso}}</strong>
              </p>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
              <p>Em caso de dúvidas na utilização do sistema, entre em contato com o<br>
                  Centro de Relações com o Consumidor da ANP - Telefone 0800 - 970 0267
              </p>
          </div>
          <div class="col-md-2">
              <img src="assets/images/adaptado-mobile.png" class="img-responsive" style="float:right;">
          </div>
          <div class="col-md-2">
              <p>
                  <img src="assets/images/logo-anp-negativo.png" class="img-responsive" style="float:right; margin-bottom:15px;">
              </p>
          </div>
      </div>
      <div class="row" style="height:48px; background-color:#333; border-top:solid 1px #555; color:#CCC; padding-top:10px; height:auto; padding-bottom:10px; float:left; width:100%;">
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">
              ® {{hoje | date:'yyyy'}} <a href="http://www.anp.gov.br" target="_blank"><span style="color:#0099da;">Agência Nacional do Petróleo, Gás Natural e Biocombustíveis.</span></a> Todos direitos reservados.
          </div>
          <div class="col-md-3"><span style="color:#FFFFFF; font-size:11px; float:right; margin-right:10px;">Versão: {{versaoSistema}}</span></div>
      </div>
  </div>
</div>
